<div class="row">
	<div class="col-md-8 col-md-offset-2">
<section>
<%= render @post %>
</section>
<hr>
<section>
	<h3>Comments (<%= @post.comment_count %>)</h3>
	<% if @post.comments.any? %>
		<ol class="comments">
			<%= render @comments %>
		</ol>
	<% end %>
</section>
<section>
	<% if signed_in?  %>
		<%= render "shared/comments_form" %>
	<% else %>
		<%= render "shared/login_form" %>
	<% end %>
</section>
</div>
</div>
