<div class="row">
	<div class="col-md-3">
		<%= render partial:"sidebar" %>
	</div>
	<div class="col-md-8">
		<section>
		<%= render @wiki_page %>
		</section>
		<hr>
		<section id="comments">
			<h3>Comments (<%= @wiki_page.comment_count %>)</h3>
			<% if signed_in?  %>
				<%= render "shared/comments_form" %>
				<%= render "shared/reply_form" %>
			<% else %>
				<div class="alert alert-danger">
					Please <%= link_to "log in", :login %> or <%= link_to "sign up", register_url %> to comment.
				</div>
			<% end %>
			<% if @wiki_page.comments.any? %>
				<ol class="comments">
					<%= render @comments %>
				</ol>
			<% end %>
		</section>
		<section>
		</section>
	</div>
</div>
