<h1> Wiki Index </h1>

<section>
<% if @pages.any? %>
	<ul>
	<% @pages.each do |page| %>
		<li>
			<%= page.id %>
			<%= page.name %>
			<%= page.title %>
			
			<%= link_to "edit", edit_admin_wiki_page_path(page), method: "get" %>
			<%= link_to "delete", admin_wiki_page_path(page), method: "delete" %>
		</li>
	<% end %>
	</ul>
<% end %>
</section>
<section>
	<%= link_to "New Page", new_admin_wiki_page_url %>
</section>